@keyframes wave1 {
    0%, 100% { 
        transform: translateY(0); 
    }
    33% { 
        transform: translateY(300px); 
    }
    66% { 
        transform: translateY(-200px); 
    }
}

@keyframes wave2 {
    0%, 100% { 
        transform: translateY(0);
     }
    33% { 
        transform: translateY(150px); 
    }
    66% { 
        transform: translateY(-60px); 
    }
}

@keyframes wave3 {
    0%, 100% { 
        transform: translateY(0); 
    }
    33% { 
        transform: translateY(50px); 
    }
    66% { 
        transform: translateY(-50px); 
    }
}

@keyframes wave4 {
    0%, 100% { 
        transform: translateY(0); 
    }
    33% { 
        transform: translateY(20px); 
    }
    66% { 
        transform: translateY(-20px); 
    }
}
@keyframes ball-increase {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(-180deg) scale(5);
    }
    100% {
        transform: rotate(-360deg) scale(1);
    }
}
@keyframes run1 {
    0%, 100% {
        background-image: url(../assets/img/run6.png);
    }
    16% {
        background-image: url(../assets/img/run5.png);
    }
    32% {
        background-image: url(../assets/img/run4.png);
    }
    48% {
        background-image: url(../assets/img/run3.png);
    }
    64% {
        background-image: url(../assets/img/run2.png);
    }
    80% {
        background-image: url(../assets/img/run1.png);
    }
}
@keyframes run2 {
    0%, 100% {
        background-image: url(../assets/img/6run.png);
    }
    16% {
        background-image: url(../assets/img/5run.png);
    }
    32% {
        background-image: url(../assets/img/4run.png);
    }
    48% {
        background-image: url(../assets/img/3run.png);
    }
    64% {
        background-image: url(../assets/img/2run.png);
    }
    80% {
        background-image: url(../assets/img/1run.png);
    }
}
 @keyframes ball-animation1 {
    0% {
        transform: rotate(-40deg);
    }
    8% {
        transform: rotate(40deg);
    }
    16% {
        transform: rotate(-40deg);
    }
    25% { 
        transform: rotate(40deg);
    }
    33% { 
        transform: rotate(-40deg);
    }
    41% { 
        transform: rotate(40deg);
    }
    50% { 
        transform: rotate(-40deg);
    }
    58% { 
        transform: rotate(40deg);
    }
    66% { 
        transform: rotate(-40deg);
    }
    75% { 
        transform: rotate(40deg);
    }
    83% { 
        transform: rotate(-40deg);
    }
    83% { 
        transform: rotateY(0deg) scale(1) rotate(-40deg);
    }
    87% { 
        transform: rotateY(90deg) scale(1.5) rotate(-40deg);
    }
    91% { 
        transform: rotateY(180deg) scale(2) rotate(-40deg);
    }
    95% { 
        transform: rotateY(270deg) scale(1.5) rotate(-40deg);
    }
    100% { 
        transform: rotateY(360deg) scale(1) rotate(-40deg);
    }
}
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
@keyframes square-increase {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(0.1);
    }
}

@keyframes bounce-around {
    0% {
        bottom: 0;
        left: 0;
        background-color: #B8231E;
    }
    25% {
        bottom: 67%; 
        left: 84%; 
        background-color: #FF9F06;
    }
    50% {
        bottom: 67%;
        left: 0;
        background-color: #B8231E;
    }
    75% {
        bottom: 0;
        left: 84%;
        background-color: #FF9F06;
    }
    100% {
        bottom: 0;
        left: 0;
        background-color: #B8231E;
    }
}
@keyframes foto-run1 {
    0%, 100% {
        background-image: url(../assets/img/foto1-1.png);
    }
    16% {
        background-image: url(../assets/img/foto1-2.png);
    }
    32% {
        background-image: url(../assets/img/foto1-3.png);
    }
    48% {
        background-image: url(../assets/img/foto1-4.png);
    }
    64% {
        background-image: url(../assets/img/foto1-5.png);
    }
    80% {
        background-image: url(../assets/img/foto1-6.png);
    }
}
@keyframes foto-run2 {
    0%, 100% {
        background-image: url(../assets/img/foto2-1.png);
    }
    16% {
        background-image: url(../assets/img/foto2-2.png);
    }
    32% {
        background-image: url(../assets/img/foto2-3.png);
    }
    48% {
        background-image: url(../assets/img/foto2-4.png);
    }
    64% {
        background-image: url(../assets/img/foto2-5.png);
    }
    80% {
        background-image: url(../assets/img/foto2-6.png);
    }
}
@keyframes foto-run3 {
    0%, 100% {
        background-image: url(../assets/img/foto3-5.png);
    }
    20% {
        background-image: url(../assets/img/foto3-4.png);
    }
    40% {
        background-image: url(../assets/img/foto3-3.png);
    }
    60% {
        background-image: url(../assets/img/foto3-2.png);
    }
    80% {
        background-image: url(../assets/img/foto3-2.png);
    }
}
@keyframes gates-lemon {
    0% {
        top: 24px;
        left: 139px;
    }
    30% {
        transform: scale(0.5) translateY(600px) translateX(-200px);
    }
    100% {
        transform: scale(0.2) translateY(2100px) translateX(1300px);
    }
}
@keyframes gates-pineapple {
    0% {
        top: 285px;
        left: 62px;
    }
    50% {
        transform: scale(1.3) translateY(-400px) rotate(-270deg);
    }
    100% {
        transform: translateY(-275px) rotate(-30deg);
    }
}
@keyframes gates-tomato {
    0% {
        top: 58px;
        left: 125px;
    }
    20% {
        transform: translateY(400px) rotate(-30deg);
    }
    40% {
        transform: translateY(50px) rotate(-90deg);
    }
    60% {
        transform: translateY(400px) rotate(-150deg);
    }
    80% {
        transform: translateY(200px) rotate(-210deg);
    }
    100% {
        transform: translateY(400px) rotate(-270deg);
    }
}
@keyframes stretch-horizontally {
    0%, 100% {
        transform: translateX(0);
        letter-spacing: 0;
        padding: 0 10px;
    }
    50% {
        transform: translateX(20px);
        letter-spacing: 10px;
        padding: 0 30px;
    }
}
@keyframes text-rotate {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}