@import url('reset.css');
@import url('font.css');
@import url('animation.css');

body {
    font-family: 'Neutral Face', sans-serif;
    position: relative;
    display: flex;
    width: 100%;
    background-image: url("../assets/img/фон.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.screens-container {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    flex-direction: column;
}
.screen-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 181px;
    margin-bottom: 54px;
    gap: 181px;
}
h1 {
    font-weight: 500;
    color: #FF9F06;
    font-size: 200px;
}
.ball {
    background-image: url("../assets/img/Group\ 2136139002.png");
    width: 111px;
    height: 109px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.run {
    background-image: url("../assets/img/Group\ 2136139039.png");
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screen-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}
.screen-2-block1 {
    width: 25%;
    height: 50vh;
    background-color: #132E1D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ball-pineapple {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Group\ 2136138981.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screen-2-block2 {
    width: 50%;
    height: 50vh;
    background-color: #FF9F06;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ball-tomato {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/tomato.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screen-2-block3 {
    width: 25%;
    height: 50vh;
    background-color: #B8231E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ball-lemon {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/lemon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screen-2-block4 {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.square1 {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #132E1D;
}
.square1-1 {
    width: 70%;
    height: 70%;
    background-color: #B8231E;
    border-radius: 100px;
}
.square2-1 {
    width: 70%;
    height: 70%;
    background-color: #FF9F06;
}
.square3-1 {
    width: 70%;
    height: 70%;
    background-color: #B8231E;
    border-radius: 100px;
}
.square4-1 {
    width: 70%;
    height: 70%;
    background-color: #FF9F06;
}
.square5-1 {
    width: 70%;
    height: 70%;
    background-color: #B8231E;
}
.square6-1 {
    width: 70%;
    height: 70%;
    background-color: #FF9F06;
    border-radius: 100px;
}
.square7-1 {
    width: 70%;
    height: 70%;
    background-color: #B8231E;
}
.square8-1 {
    width: 70%;
    height: 70%;
    background-color: #FF9F06;
    border-radius: 100px;
}
.screen-2-block5 {
    width: 50%;
    height: 50vh;
    background-color: #132E1D;
    position: relative;
}
.circle {
    width: 16%;
    height: 33%;
    background-color: #B8231E;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}