@import url('reset.css');
@import url('font.css');
@import url('animation.css');

body {
    font-family: 'Neutral Face', sans-serif;
    position: relative;
    display: flex;
    width: 100%;
    background-image: url("../assets/img/фон.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.screens-container {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    flex-direction: column;
}
.screen {
    width: 100%;
    display: flex;
}
.screen-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 181px;
    margin-bottom: 54px;
    gap: 181px;
}
h1 {
    font-weight: 500;
    color: #FF9F06;
    font-size: 200px;
}
.ball {
    background-image: url("../assets/img/Group\ 2136139002.png");
    width: 111px;
    height: 109px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.run {
    background-image: url("../assets/img/Group\ 2136139039.png");
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}